<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/defaultHead") %>
    <%- include("../partials/cover/head") %>
  </head>

  <body>
    <%- include("../partials/cover/content") %>

    <%- include("../partials/defaultScripts") %>
  </body>
</html>