<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Your personalized Elder Scrolls Online hub.">
<meta name="author" content="https://github.com/medallyon">
<link rel="icon" href="https://i.grogsile.me/favicon.png">

<title>Elder Scrolls Online International</title>

<!-- Bootstrap core CSS -->
<link href="https://i.grogsile.me/css/bootstrap-4-alpha.min.css" rel="stylesheet">

<!-- Awesome Bootstrap Checkboxes -->
<link href="https://i.grogsile.me/css/awesome-bootstrap-checkbox-4-alpha.css" rel="stylesheet">

<!-- Custom styles -->