<meta charset="utf-8" />
<meta data-react-helmet="true" charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="robots" content="index, nofollow" />

<meta property="og:locale" content="en-US" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://esoi.grogsile.org" />
<meta property="og:site_name" content="Elder Scrolls Online International" />
<meta property="og:keywords" content="Discord,Elder Scrolls Online,ESO,ESO International,ESOI,Discord Bot,Discord Server" />

<meta data-react-helmet="true" property="og:title" content="Elder Scrolls Online International"/>
<meta property="og:description" content="Your Discord Hub for The Elder Scrolls Online" />
<meta data-react-helmet="true" property="og:description" content="Your Discord Hub for The Elder Scrolls Online"/><meta property="og:image" content="https://i.imgur.com/4PO0EpP.jpg" />
<meta data-react-helmet="true" name="description" content="Your Discord Hub for The Elder Scrolls Online"/>

<meta name="author" content="https://github.com/medallyon" />
<link rel="icon" href="https://i.grogsile.org/favicon.png" />
<link rel="image_src" href="https://i.imgur.com/4PO0EpP.jpg">

<title>Elder Scrolls Online International</title>

<!-- Bootstrap core CSS -->
<link href="https://i.grogsile.org/css/bootstrap-4-alpha.min.css" rel="stylesheet">

<!-- Awesome Bootstrap Checkboxes -->
<link href="https://i.grogsile.org/css/awesome-bootstrap-checkbox-4-alpha.css" rel="stylesheet">

<!-- Custom styles -->
<link href="https://i.grogsile.org/esoi/css/dashboard.css" rel="stylesheet">
<link href="https://i.grogsile.org/esoi/css/inline-icons.css" rel="stylesheet">