<footer id="footer" class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p class="lead">&copy; Grogsile Inc.</p>
  </div>
</footer>