/* CUSTOM SPAN ICONS */

span.aldmeri-icon {
  display: inline-block;
  background: url("https://i.grogsile.me/esoi/img/aldmeri-icon.png") no-repeat;
  background-size: 1.2em;
  width: 1.2em;
  height: 1.2em;
  margin: 0;
}

span.daggerfall-icon {
  display: inline-block;
  background: url("https://i.grogsile.me/esoi/img/daggerfall-icon.png") no-repeat;
  background-size: 1.2em;
  width: 1.2em;
  height: 1.2em;
  margin: 0;
}

span.ebonheart-icon {
  display: inline-block;
  background: url("https://i.grogsile.me/esoi/img/ebonheart-icon.png") no-repeat;
  background-size: 1.2em;
  width: 1.2em;
  height: 1.2em;
  margin: 0;
}

/* INPUT GROUP */

.input-group > div.input-group-addon > img {
  max-width: 1em;
}

.hidden-input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#championBox {
  display: none;
}

#championBox + label
{
  background: url("https://i.grogsile.me/esoi/img/champion.png") no-repeat;
  background-size: 1.2em;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  margin: 0;
  -webkit-transition: background .15s;
  transition: background .15s;
}

#championBox:checked + label
{
  background: url("https://i.grogsile.me/esoi/img/champion-checked.png") no-repeat;
  background-size: 1.2em;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  margin: 0;
  -webkit-transition: background .15s;
  transition: background .15s;
}

/* ROSTER CHECKBOX ICONS */

.roster {
  display: none;
}

.roster + label
{
  background-repeat: no-repeat;
  background-size: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  display: inline-block;
  margin: 0;
  padding: 2.5px 1em;
}
.roster:checked + label
{
  background-repeat: no-repeat;
  background-size: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  display: inline-block;
  margin: 0;
}

/* Race Icon Radios */
.roster#altmer + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/altmer.png");
}
.roster#altmer:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/altmer.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #E0AA36) drop-shadow(-2px -2px 2.5px #E0AA36);
  filter: drop-shadow(2px 2px 2.5px #E0AA36) drop-shadow(-2px -2px 2.5px #E0AA36);
}
.roster#bosmer + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/bosmer.png");
}
.roster#bosmer:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/bosmer.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #E0AA36) drop-shadow(-2px -2px 2.5px #E0AA36);
  filter: drop-shadow(2px 2px 2.5px #E0AA36) drop-shadow(-2px -2px 2.5px #E0AA36);
}
.roster#khajiit + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/khajiit.png");
}
.roster#khajiit:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/khajiit.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #E0AA36) drop-shadow(-2px -2px 2.5px #E0AA36);
  filter: drop-shadow(2px 2px 2.5px #E0AA36) drop-shadow(-2px -2px 2.5px #E0AA36);
}
.roster#breton + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/breton.png");
}
.roster#breton:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/breton.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #B14040) drop-shadow(-2px -2px 2.5px #B14040);
  filter: drop-shadow(2px 2px 2.5px #B14040) drop-shadow(-2px -2px 2.5px #B14040);
}
.roster#redguard + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/redguard.png");
}
.roster#redguard:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/redguard.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #B14040) drop-shadow(-2px -2px 2.5px #B14040);
  filter: drop-shadow(2px 2px 2.5px #B14040) drop-shadow(-2px -2px 2.5px #B14040);
}
.roster#orsimer + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/orc.png");
}
.roster#orsimer:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/orc.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #B14040) drop-shadow(-2px -2px 2.5px #B14040);
  filter: drop-shadow(2px 2px 2.5px #B14040) drop-shadow(-2px -2px 2.5px #B14040);
}
.roster#dunmer + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/dunmer.png");
}
.roster#dunmer:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/dunmer.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #3E72E0) drop-shadow(-2px -2px 2.5px #3E72E0);
  filter: drop-shadow(2px 2px 2.5px #3E72E0) drop-shadow(-2px -2px 2.5px #3E72E0);
}
.roster#nord + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/nord.png");
}
.roster#nord:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/nord.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #3E72E0) drop-shadow(-2px -2px 2.5px #3E72E0);
  filter: drop-shadow(2px 2px 2.5px #3E72E0) drop-shadow(-2px -2px 2.5px #3E72E0);
}
.roster#argonian + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/argonian.png");
}
.roster#argonian:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/argonian.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #3E72E0) drop-shadow(-2px -2px 2.5px #3E72E0);
  filter: drop-shadow(2px 2px 2.5px #3E72E0) drop-shadow(-2px -2px 2.5px #3E72E0);
}
.roster#imperial + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/imperial.png");
}
.roster#imperial:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/races/imperial.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
  filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
}

/* Class Icon Radios */
.roster#dragonknight + label {
  background-image: url("https://i.grogsile.me/esoi/img/classes/dragonknight.png");
}
.roster#dragonknight:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/classes/dragonknight.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
  filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
}
.roster#nightblade + label {
  background-image: url("https://i.grogsile.me/esoi/img/classes/nightblade.png");
}
.roster#nightblade:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/classes/nightblade.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
  filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
}
.roster#sorcerer + label {
  background-image: url("https://i.grogsile.me/esoi/img/classes/sorcerer.png");
}
.roster#sorcerer:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/classes/sorcerer.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
  filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
}
.roster#templar + label {
  background-image: url("https://i.grogsile.me/esoi/img/classes/templar.png");
}
.roster#templar:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/classes/templar.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
  filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
}

/* Role Icon Checkboxes */
.roster#dps + label {
  background-image: url("https://i.grogsile.me/esoi/img/roles/dps.png");
}
.roster#dps:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/roles/dps.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
  filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
}
.roster#tank + label {
  background-image: url("https://i.grogsile.me/esoi/img/roles/tank.png");
}
.roster#tank:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/roles/tank.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
  filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
}
.roster#heal + label {
  background-image: url("https://i.grogsile.me/esoi/img/roles/heal.png");
}
.roster#heal:checked + label {
  background-image: url("https://i.grogsile.me/esoi/img/roles/heal.png");
  -webkit-filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
  filter: drop-shadow(2px 2px 2.5px #2C2F33) drop-shadow(-2px -2px 2.5px #2C2F33);
}
