span.inline-icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 2rem;
  width: 2rem;
  height: 2rem;
  margin: 0;
}

/* LEVEL */
span.icon-non-champion {
  background-image: url("https://i.grogsile.me/esoi/img/ui/gameui/lfg/gamepad/gp_lfg_menuicon_normaldungeon.png"), url("https://i.grogsile.me/esoi/img/ui/gameui/lfg/gamepad/gp_lfg_menuicon_normaldungeon.png");
}
span.icon-champion {
  background-image: url("https://i.grogsile.me/esoi/img/ui/gameui/champion/champion_icon.png");
}

/* ALLIANCE */
span.icon-aldmeri {
  background-image: url("https://i.grogsile.me/esoi/img/ui/gameui/stats/alliancebadge_aldmeri.png");
}
span.icon-daggerfall {
  background-image: url("https://i.grogsile.me/esoi/img/ui/gameui/stats/alliancebadge_daggerfall.png");
}
span.icon-ebonheart {
  background-image: url("https://i.grogsile.me/esoi/img/ui/gameui/stats/alliancebadge_ebonheart.png");
}

/* RACE */
span.icon-breton {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/race/race_breton_01.png");
}
span.icon-orsimer {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/race/race_orc_01.png");
}
span.icon-redguard {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/race/race_redguard_01.png");
}
span.icon-altmer {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/race/race_altmer_01.png");
}
span.icon-bosmer {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/race/race_bosmer_01.png");
}
span.icon-khajiit {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/race/race_khajiit_01.png");
}
span.icon-argonian {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/race/race_argonian_01.png");
}
span.icon-dunmer {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/race/race_dunmer_01.png");
}
span.icon-nord {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/race/race_nord_01.png");
}
span.icon-imperial {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/race/race_imperial_01.png");
}

/* CLASS */
span.icon-dragonknight {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/class/gamepad/gp_class_dragonknight.png"), url("https://i.grogsile.me/esoi/img/ui/icons/class/gamepad/gp_class_dragonknight.png");
}
span.icon-nightblade {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/class/gamepad/gp_class_nightblade.png"), url("https://i.grogsile.me/esoi/img/ui/icons/class/gamepad/gp_class_nightblade.png");
}
span.icon-sorcerer {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/class/gamepad/gp_class_sorcerer.png"), url("https://i.grogsile.me/esoi/img/ui/icons/class/gamepad/gp_class_sorcerer.png");
}
span.icon-templar {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/class/gamepad/gp_class_templar.png"), url("https://i.grogsile.me/esoi/img/ui/icons/class/gamepad/gp_class_templar.png");
}
span.icon-warden {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/class/gamepad/gp_class_warden.png"), url("https://i.grogsile.me/esoi/img/ui/icons/class/gamepad/gp_class_warden.png");
}

/* ROLE */
span.icon-dps {
  background-image: url("https://i.grogsile.me/esoi/img/ui/gameui/lfg/gamepad/lfg_roleicon_dps.png"), url("https://i.grogsile.me/esoi/img/ui/gameui/lfg/gamepad/lfg_roleicon_dps.png");
}
span.icon-tank {
  background-image: url("https://i.grogsile.me/esoi/img/ui/gameui/lfg/gamepad/lfg_roleicon_tank.png"), url("https://i.grogsile.me/esoi/img/ui/gameui/lfg/gamepad/lfg_roleicon_tank.png");
}
span.icon-heal {
  background-image: url("https://i.grogsile.me/esoi/img/ui/gameui/lfg/gamepad/lfg_roleicon_healer.png"), url("https://i.grogsile.me/esoi/img/ui/gameui/lfg/gamepad/lfg_roleicon_healer.png");
}

/* PROFESSION */
span.icon-blacksmithing {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/servicemappins/servicepin_smithy.png");
}
span.icon-clothing {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/servicemappins/servicepin_clothier.png");
}
span.icon-woodworking {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/servicemappins/servicepin_woodworking.png");
}
span.icon-alchemy {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/servicemappins/servicepin_alchemy.png");
}
span.icon-enchanting {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/servicemappins/servicepin_enchanting.png");
}
span.icon-provisioning {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/servicemappins/servicepin_inn.png");
}
span.icon-fishing {
  background-image: url("https://i.grogsile.me/esoi/img/ui/gameui/inventory/gamepad/gp_inventory_icon_craftbag_fishing.png"), url("https://i.grogsile.me/esoi/img/ui/gameui/inventory/gamepad/gp_inventory_icon_craftbag_fishing.png");
}
span.icon-banker {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/servicemappins/servicepin_bank.png");
}
span.icon-thieving {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/servicemappins/servicepin_thievesguild.png");
}
span.icon-pve {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/mapkey/mapkey_groupinstance.png");
}
span.icon-pvp {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/mapkey/mapkey_keep.png");
}
span.icon-dueling {
  background-image: url("https://i.grogsile.me/esoi/img/ui/gameui/notifications/gamepad/gp_notificationicon_duel.png"), url("https://i.grogsile.me/esoi/img/ui/gameui/notifications/gamepad/gp_notificationicon_duel.png");
}
span.icon-roleplay {
  background-image: url("https://i.grogsile.me/esoi/img/ui/icons/store/esoplus_01_white.png"), url("https://i.grogsile.me/esoi/img/ui/icons/store/esoplus_01_white.png");
}

/* CHAR MISC */
span.icon-edit {
  background-image: url("https://i.grogsile.me/esoi/img/ui/gameui/guild/gamepad/gp_guild_menuicon_changemessage.png"), url("https://i.grogsile.me/esoi/img/ui/gameui/guild/gamepad/gp_guild_menuicon_changemessage.png");
}
span.icon-delete {
  background-image: url("https://i.grogsile.me/esoi/img/ui/gameui/guild/gamepad/gp_guild_options_delete.png"),url("https://i.grogsile.me/esoi/img/ui/gameui/guild/gamepad/gp_guild_options_delete.png");
}