<div class="container">
  <h1>About</h1>

  <p>
    The Tamriel Messenger is a bot dedicated to the Elder Scrolls universe. It features ESO in-game item lookup, UESP Wiki search, and more. Read on to learn about command use and setting up your server to make full use of The Tamriel Messenger.
  </p>

  <h1>Commands</h1>

  <p>All commands start with the default <code>/</code> prefix. You may also <code>@mention</code> the bot and append the command instead.</p>

  <p>
    <ul>
      <li>about</li>
      <li>help</li>
      <li>ping</li>
      <li>wiki</li>
      <li>item</li>
    </ul>
  </p>

  <p>A more comprehensive list will follow soon. More features are in development right now, and if you want to follow how The Tamriel Messenger progresses, join our <a href="http://discord.gg/eKSPgvF" target="_blank">Developer Hub</a> for more updates.</p>
</div>
