<div class="container">

  <div class="starter-template">
    <h1>Don't worry, we're still working on stuff.</h1>
    <p class="lead">Why not visit <a href="http://esoi.grogsile.org/">esoi.grogsile.org</a> while you're here?</p>
  </div>

</div><!-- /.container -->