<div class="card-block preview">
  <div class="wrapper">
    <div class="side-colored"></div>
    <div class="card embed">
      <div class="card-block">
        <div class="embed-inner"><div class="embed-author"><img class="embed-author-icon" src="http://via.placeholder.com/64x64"><a class="embed-author-name" href="https://author.com">author</a></div><div class="embed-title"><a href="https://url.com">title</a></div><div class="embed-description">description</div><div class="fields">
  <div class="field inline">
    <div class="field-name">field 1</div>
    <div class="field-value">value</div>
  </div>

  <div class="field inline">
    <div class="field-name">field 2</div>
    <div class="field-value">value</div>
  </div>

  <div class="field inline">
    <div class="field-name">field 3</div>
    <div class="field-value">value</div>
  </div>

  <div class="field inline">
    <div class="field-name">field 4</div>
    <div class="field-value">value</div>
  </div>

  <div class="field inline">
    <div class="field-name">field 5</div>
    <div class="field-value">value</div>
  </div>

  <div class="field false">
    <div class="field-name">field 6</div>
    <div class="field-value">value</div>
  </div>
</div>
      <img class="embed-thumb" src="http://via.placeholder.com/64x64" style="height: 0px;"></div>
    <div class="embed-footer"><span>footer</span></div>
  </div>
</div>