<div class="container">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Create your brand new character</h1>
    </div>
  </section>

  <form id="form" name="form" novalidate action="/api/users/@me/characters" class="text-center" role="form" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="POST">

    <div class="form-group">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <label>Character Name</label>
          <div class="input-group">
            <input type="text" id="characterName" class="form-control text-center" name="characterName" placeholder="Norgred Hardhelm" minlength="3" maxlength="25" required>

            <div class="input-group-append">
              <div class="input-group-text">
                <input type="checkbox" id="primary" class="primary" name="primary" aria-label="Primary">
                <label for="primary" data-toggle="tooltip" data-placement="top" title="This will be your primary character"></label>
              </div>
            </div>
          </div>
          <small class="form-text text-muted">Your name must adhere to the standard Elder Scrolls rules of naming</small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <label for="championInput">Character level</label>
          <div class="input-group">

            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" id="championBox" name="champion" aria-label="Champion Input" <% if (account.champion) { %> checked<% } else { %> disabled<% } %>>
                <label for="championBox" data-toggle="tooltip" data-placement="top" title="<% if (account.champion) { %> Champion<% } else { %> Non-Champion<% } %>"></label>
              </div>
            </div>

            <input type="number" id="championInput" name="level" class="form-control text-center" <% if (account.champion) { %> min="1" max="600" placeholder="<%- account.level %>"<% } else { %> min="3" max="49" placeholder="3-50"<% } %> <% if (account.champion) { %> readonly <% } %> required>

            <% if (account.champion) { %><div class="input-group-append">
              <span class="input-group-text">CP</span>
            </div><% } %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="biography">Biography</label>
      <textarea class="form-control" id="biography" name="biography" rows="3" maxlength="500"></textarea>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4">
        
        <div class="form-group">
          <label>Alliance</label>
          <div class="row">
            
            <div class="col-md-12">
              <div class="form-check form-check-inline">
                
                <input type="radio" id="dc" class="roster" name="alliance" value="Daggerfall Covenant" required>
                <label for="dc" data-toggle="tooltip" data-placement="top" title="Daggerfall Covenant"></label>
                
                <input type="radio" id="ad" class="roster" name="alliance" value="Aldmeri Dominion">
                <label for="ad" data-toggle="tooltip" data-placement="top" title="Aldmeri Dominion"></label>
                
                <input type="radio" id="ep" class="roster" name="alliance" value="Ebonheart Pact">
                <label for="ep" data-toggle="tooltip" data-placement="top" title="Ebonheart Pact"></label>
                
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-4 hidden-sm-down">

        <div class="form-group">

          <label>Class</label>
          <div class="row">
            <div class="col-md-12">
              <div class="form-check form-check-inline">
                
                <input type="radio" id="dragonknight" class="roster" name="class" value="Dragon Knight" required>
                <label for="dragonknight" data-toggle="tooltip" data-placement="top" title="Dragon Knight"></label>
                
                <input type="radio" id="nightblade" class="roster" name="class" value="Nightblade">
                <label for="nightblade" data-toggle="tooltip" data-placement="top" title="Nightblade"></label>
              
                <input type="radio" id="sorcerer" class="roster" name="class" value="Sorcerer">
                <label for="sorcerer" data-toggle="tooltip" data-placement="top" title="Sorcerer"></label>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-check form-check-inline">
              
                <input type="radio" id="templar" class="roster" name="class" value="Templar">
                <label for="templar" data-toggle="tooltip" data-placement="top" title="Templar"></label>
              
                <input type="radio" id="warden" class="roster" name="class" value="Warden">
                <label for="warden" data-toggle="tooltip" data-placement="top" title="Warden"></label>
                
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-md-4">

        <div class="form-group">
          <label>Race</label>
          <div class="row">
            
            <div class="col-md-12">
              <div class="form-check form-check-inline">
                
                <input type="radio" id="breton" class="roster" name="race" value="Breton" required>
                <label for="breton" data-toggle="tooltip" data-placement="left" title="Breton"></label>
                
                <input type="radio" id="altmer" class="roster" name="race" value="Altmer">
                <label for="altmer" data-toggle="tooltip" data-placement="top" title="Altmer/High Elf"></label>
                
                <input type="radio" id="argonian" class="roster" name="race" value="Argonian">
                <label for="argonian" data-toggle="tooltip" data-placement="right" title="Argonian"></label>
                
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-check form-check-inline">

                <input type="radio" id="orsimer" class="roster" name="race" value="Orsimer">
                <label for="orsimer" data-toggle="tooltip" data-placement="left" title="Orsimer/Orc"></label>
                
                <input type="radio" id="bosmer" class="roster" name="race" value="Bosmer">
                <label for="bosmer" data-toggle="tooltip" data-placement="top" title="Bosmer/Wood Elf"></label>
                
                <input type="radio" id="dunmer" class="roster" name="race" value="Dunmer">
                <label for="dunmer" data-toggle="tooltip" data-placement="right" title="Dunmer/Dark Elf"></label>
                
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-check form-check-inline">

                <input type="radio" id="redguard" class="roster" name="race" value="Redguard">
                <label for="redguard" data-toggle="tooltip" data-placement="left" title="Redguard"></label>
                
                <input type="radio" id="khajiit" class="roster" name="race" value="Khajiit">
                <label for="khajiit" data-toggle="tooltip" data-placement="top" title="Khajiit"></label>
                
                <input type="radio" id="nord" class="roster" name="race" value="Nord">
                <label for="nord" data-toggle="tooltip" data-placement="right" title="Nord"></label>
                
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-check form-check-inline">
                
                <input type="radio" id="imperial" class="roster" name="race" value="Imperial">
                <label for="imperial" data-toggle="tooltip" data-placement="top" title="Imperial"></label>
                
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4 hidden-md-up">

        <div class="form-group">

          <label>Class</label>
          <div class="row">
            <div class="col-md-12">
              <div class="form-check form-check-inline">
                
                <input type="radio" id="mobile-dragonknight" class="roster" name="class" value="Dragon Knight" required>
                <label for="mobile-dragonknight" data-toggle="tooltip" data-placement="top" title="Dragon Knight"></label>
                
                <input type="radio" id="mobile-nightblade" class="roster" name="class" value="Nightblade">
                <label for="mobile-nightblade" data-toggle="tooltip" data-placement="top" title="Nightblade"></label>
              
                <input type="radio" id="mobile-sorcerer" class="roster" name="class" value="Sorcerer">
                <label for="mobile-sorcerer" data-toggle="tooltip" data-placement="top" title="Sorcerer"></label>
                
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-check form-check-inline">
              
                <input type="radio" id="mobile-templar" class="roster" name="class" value="Templar">
                <label for="mobile-templar" data-toggle="tooltip" data-placement="top" title="Templar"></label>
              
                <input type="radio" id="mobile-warden" class="roster" name="class" value="Warden">
                <label for="mobile-warden" data-toggle="tooltip" data-placement="top" title="Warden"></label>
                
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-md-4">
        
        <div class="form-group">
          <label>Roles</label>
          <div class="row">
            
            <div class="col-md-12">
              <div class="form-check form-check-inline">
                
                <input type="checkbox" id="dps" class="roster" name="roles" value="DPS">
                <label for="dps" data-toggle="tooltip" data-placement="top" title="DPS"></label>
                
                <input type="checkbox" id="tank" class="roster" name="roles" value="Tank">
                <label for="tank" data-toggle="tooltip" data-placement="top" title="Tank"></label>
                
                <input type="checkbox" id="healer" class="roster" name="roles" value="Healer">
                <label for="healer" data-toggle="tooltip" data-placement="top" title="Healer"></label>
                
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="form-group">
      <label>Professions</label>
      <div class="row">
        
        <div class="col-md-12">
          <div class="form-check form-check-inline">
              
            <input type="checkbox" id="blacksmithing" class="roster" name="professions" value="Blacksmithing">
            <label for="blacksmithing" data-toggle="tooltip" data-placement="top" title="Blacksmithing"></label>
            
            <input type="checkbox" id="clothing" class="roster" name="professions" value="Clothing">
            <label for="clothing" data-toggle="tooltip" data-placement="top" title="Clothing"></label>
            
            <input type="checkbox" id="woodworking" class="roster" name="professions" value="Woodworking">
            <label for="woodworking" data-toggle="tooltip" data-placement="top" title="Woodworking"></label>
            
            <input type="checkbox" id="alchemy" class="roster" name="professions" value="Alchemy">
            <label for="alchemy" data-toggle="tooltip" data-placement="top" title="Alchemy"></label>
            
            <input type="checkbox" id="enchanting" class="roster" name="professions" value="Enchanting">
            <label for="enchanting" data-toggle="tooltip" data-placement="top" title="Enchanting"></label>
            
            <input type="checkbox" id="provisioning" class="roster" name="professions" value="Provisioning">
            <label for="provisioning" data-toggle="tooltip" data-placement="top" title="Provisioning"></label>
            
            <input type="checkbox" id="fishing" class="roster" name="professions" value="Fishing">
            <label for="fishing" data-toggle="tooltip" data-placement="top" title="Fishing"></label>
            
            <input type="checkbox" id="banking" class="roster" name="professions" value="Banking">
            <label for="banking" data-toggle="tooltip" data-placement="top" title="Banking"></label>
            
            <input type="checkbox" id="thieving" class="roster" name="professions" value="Thieving">
            <label for="thieving" data-toggle="tooltip" data-placement="top" title="Thieving"></label>
            
            <input type="checkbox" id="pve" class="roster" name="professions" value="PvE">
            <label for="pve" data-toggle="tooltip" data-placement="top" title="PvE"></label>
            
            <input type="checkbox" id="pvp" class="roster" name="professions" value="PvP">
            <label for="pvp" data-toggle="tooltip" data-placement="top" title="PvP"></label>
            
            <input type="checkbox" id="dueling" class="roster" name="professions" value="Dueling">
            <label for="dueling" data-toggle="tooltip" data-placement="top" title="Dueling"></label>
            
            <input type="checkbox" id="roleplay" class="roster" name="professions" value="Roleplay">
            <label for="roleplay" data-toggle="tooltip" data-placement="top" title="Roleplay"></label>

          </div>
        </div>

      </div>
    </div>

    <div class="form-group">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <img id="avatar" class="img-responsive center-block" src="https://i.grogsile.org/esoi/img/new/default_char.png" />
          <small class="form-text text-muted">It might take some time for bigger images to be submitted (images are limited to 2MB)</small>
          <input type="text" id="avatarData" class="hidden-input-file" name="avatarData">
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="file" id="newAvatar" name="avatar" class="hidden-input-file" accept="image/*">

      <label for="newAvatar">
        <div class="btn btn-lg btn-success">
          Upload a new Avatar
        </div>
      </label>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

  </form>

</div>