<div class="container">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Create your brand new character</h1>
    </div>
  </section>

  <form id="form" action="/api/users/@me/characters" class="text-center" role="form" method="POST" enctype="multipart/form-data">

    <div class="form-group">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <label for="characterName">Character Name</label>
          <input type="text" id="characterName" class="form-control text-center" name="characterName" placeholder="Bumperstump Bentobox" autocomplete="off" required>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

    <div class="form-group">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <label for="championInput">Character level</label>
          <div class="input-group">

            <span class="input-group-addon">
              <input type="checkbox" id="championBox" name="champion" aria-label="Champion Input" <% if (account.champion) { %> checked<% } else { %> disabled<% } %>>
              <label for="championBox"></label>
            </span>

            <input type="number" id="championInput" name="level" class="form-control text-center" <% if (account.champion) { %> min="1" max="600" placeholder="<%- account.level %>"<% } else { %> min="3" max="49" placeholder="3-50"<% } %> <% if (account.champion) { %> readonly <% } %> required>

            <% if (account.champion) { %><div class="input-group-addon">CP</div><% } %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="biography">Biography</label>
      <textarea class="form-control" id="biography" name="biography" rows="3" maxlength="500"></textarea>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4">
        
        <div class="form-group">
          <label>Alliance</label>
          <div class="row">
            
            <div class="col-md-12">
              <div class="form-check form-check-inline">
                
                <input type="radio" id="dc" class="roster" name="alliance" value="Daggerfall Covenant">
                <label for="dc" data-toggle="tooltip" data-placement="top" title="Daggerfall Covenant"></label>
                
                <input type="radio" id="ad" class="roster" name="alliance" value="Aldmeri Dominion" required>
                <label for="ad" data-toggle="tooltip" data-placement="top" title="Aldmeri Dominion"></label>
                
                <input type="radio" id="ep" class="roster" name="alliance" value="Ebonheart Pact">
                <label for="ep" data-toggle="tooltip" data-placement="top" title="Ebonheart Pact"></label>
                
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-4 hidden-sm-down">

        <div class="form-group">
          <label>Class</label>
            <div class="row">
              <div class="col-md-12">
                <div class="form-check form-check-inline">
                  
                  <input type="radio" id="dragonknight" class="roster" name="class" value="dragonknight">
                  <label for="dragonknight" data-toggle="tooltip" data-placement="top" title="Dragon Knight"></label>
                  
                  <input type="radio" id="nightblade" class="roster" name="class" value="nightblade">
                  <label for="nightblade" data-toggle="tooltip" data-placement="top" title="Nightblade"></label>
                
                  <input type="radio" id="sorcerer" class="roster" name="class" value="sorcerer">
                  <label for="sorcerer" data-toggle="tooltip" data-placement="top" title="Sorcerer"></label>
                
                  <input type="radio" id="templar" class="roster" name="class" value="templar">
                  <label for="templar" data-toggle="tooltip" data-placement="top" title="Templar"></label>
                  
                </div>
              </div>
            </div>

        </div>

      </div>
      <div class="col-md-4">

        <div class="form-group">
          <label>Race</label>
          <div class="row">
            
            <div class="col-md-12">
              <div class="form-check form-check-inline">
                
                <input type="radio" id="breton" class="roster" name="race" value="breton">
                <label for="breton" data-toggle="tooltip" data-placement="left" title="Breton"></label>
                
                <input type="radio" id="altmer" class="roster" name="race" value="altmer">
                <label for="altmer" data-toggle="tooltip" data-placement="top" title="Altmer/High Elf"></label>
                
                <input type="radio" id="argonian" class="roster" name="race" value="argonian">
                <label for="argonian" data-toggle="tooltip" data-placement="right" title="Argonian"></label>
                
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-check form-check-inline">

                <input type="radio" id="orsimer" class="roster" name="race" value="orsimer">
                <label for="orsimer" data-toggle="tooltip" data-placement="left" title="Orsimer/Orc"></label>
                
                <input type="radio" id="bosmer" class="roster" name="race" value="bosmer">
                <label for="bosmer" data-toggle="tooltip" data-placement="top" title="Bosmer/Wood Elf"></label>
                
                <input type="radio" id="dunmer" class="roster" name="race" value="dunmer">
                <label for="dunmer" data-toggle="tooltip" data-placement="right" title="Dunmer/Dark Elf"></label>
                
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-check form-check-inline">

                <input type="radio" id="redguard" class="roster" name="race" value="redguard">
                <label for="redguard" data-toggle="tooltip" data-placement="left" title="Redguard"></label>
                
                <input type="radio" id="khajiit" class="roster" name="race" value="khajiit">
                <label for="khajiit" data-toggle="tooltip" data-placement="top" title="Khajiit"></label>
                
                <input type="radio" id="nord" class="roster" name="race" value="nord">
                <label for="nord" data-toggle="tooltip" data-placement="right" title="Nord"></label>
                
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-check form-check-inline">
                
                <input type="radio" id="imperial" class="roster" name="race" value="Altmer">
                <label for="imperial" data-toggle="tooltip" data-placement="top" title="Imperial"></label>
                
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4 hidden-md-up">

        <div class="form-group">
          <label>Class</label>
            <div class="row">
              <div class="col-md-12">
                <div class="form-check form-check-inline">
                  
                  <input type="radio" id="mobile-dragonknight" class="roster" name="class" value="dragonknight">
                  <label for="mobile-dragonknight" data-toggle="tooltip" data-placement="top" title="Dragon Knight"></label>
                  
                  <input type="radio" id="mobile-nightblade" class="roster" name="class" value="nightblade">
                  <label for="mobile-nightblade" data-toggle="tooltip" data-placement="top" title="Nightblade"></label>
                
                  <input type="radio" id="mobile-sorcerer" class="roster" name="class" value="sorcerer">
                  <label for="mobile-sorcerer" data-toggle="tooltip" data-placement="top" title="Sorcerer"></label>
                
                  <input type="radio" id="mobile-templar" class="roster" name="class" value="templar">
                  <label for="mobile-templar" data-toggle="tooltip" data-placement="top" title="Templar"></label>
                  
                </div>
              </div>
            </div>

        </div>

      </div>
      <div class="col-md-4">
        
        <div class="form-group">
          <label>Roles</label>
          <div class="row">
            
            <div class="col-md-12">
              <div class="form-check form-check-inline">
                
                <input type="checkbox" id="dps" class="roster" name="roles" value="dps">
                <label for="dps" data-toggle="tooltip" data-placement="top" title="DPS"></label>
                
                <input type="checkbox" id="tank" class="roster" name="roles" value="tank">
                <label for="tank" data-toggle="tooltip" data-placement="top" title="Tank"></label>
                
                <input type="checkbox" id="heal" class="roster" name="roles" value="heal">
                <label for="heal" data-toggle="tooltip" data-placement="top" title="Heal"></label>
                
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="form-group">
      <label>Professions</label>
      <div class="row">
        
        <div class="col-md-12">
          <div class="form-check form-check-inline">
              
            <input type="checkbox" id="blacksmithing" class="roster" name="professions" value="blacksmithing">
            <label for="blacksmithing" data-toggle="tooltip" data-placement="top" title="Blacksmithing"></label>
            
            <input type="checkbox" id="clothing" class="roster" name="professions" value="clothing">
            <label for="clothing" data-toggle="tooltip" data-placement="top" title="Clothing"></label>
            
            <input type="checkbox" id="woodworking" class="roster" name="professions" value="woodworking">
            <label for="woodworking" data-toggle="tooltip" data-placement="top" title="Woodworking"></label>
            
            <input type="checkbox" id="alchemy" class="roster" name="professions" value="alchemy">
            <label for="alchemy" data-toggle="tooltip" data-placement="top" title="Alchemy"></label>
            
            <input type="checkbox" id="enchanting" class="roster" name="professions" value="enchanting">
            <label for="enchanting" data-toggle="tooltip" data-placement="top" title="Enchanting"></label>
            
            <input type="checkbox" id="provisioning" class="roster" name="professions" value="provisioning">
            <label for="provisioning" data-toggle="tooltip" data-placement="top" title="Provisioning"></label>
            
            <input type="checkbox" id="fishing" class="roster" name="professions" value="fishing">
            <label for="fishing" data-toggle="tooltip" data-placement="top" title="Fishing"></label>
            
            <input type="checkbox" id="banker" class="roster" name="professions" value="banker">
            <label for="banker" data-toggle="tooltip" data-placement="top" title="Banker"></label>
            
            <input type="checkbox" id="thieving" class="roster" name="professions" value="thieving">
            <label for="thieving" data-toggle="tooltip" data-placement="top" title="Thief"></label>
            
            <input type="checkbox" id="pve" class="roster" name="professions" value="pve">
            <label for="pve" data-toggle="tooltip" data-placement="top" title="PvE"></label>
            
            <input type="checkbox" id="pvp" class="roster" name="professions" value="pvp">
            <label for="pvp" data-toggle="tooltip" data-placement="top" title="PvP"></label>
            
            <input type="checkbox" id="dueling" class="roster" name="professions" value="dueling">
            <label for="dueling" data-toggle="tooltip" data-placement="top" title="Dueling"></label>
            
            <input type="checkbox" id="roleplay" class="roster" name="professions" value="roleplay">
            <label for="roleplay" data-toggle="tooltip" data-placement="top" title="Roleplay"></label>

          </div>
        </div>

      </div>
    </div>

    <div class="form-group">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <img id="avatar" class="img-responsive center-block" src="https://i.grogsile.me/esoi/img/new/default_char.png" />
          <small id="avatarHelp" class="form-text text-muted">It might take some time for bigger images to be submitted.</small>
          <input type="text" id="avatarData" class="hidden-input-file" name="avatarData">
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="file" id="newAvatar" name="avatar" class="hidden-input-file" accept="image/*">

      <label for="newAvatar">
        <div class="btn btn-lg btn-success">
          Upload a new Avatar
        </div>
      </label>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

  </form>

</div>