<div class="container">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Create your brand new character</h1>
    </div>
  </section>

  <form class="text-center" role="form">

    <div class="form-group">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <label for="characterName">Character Name</label>
          <input type="text" id="characterName" class="form-control text-center" placeholder="Bumperstump Bentobox" required>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <label for="championInput">Character level</label>
          <div class="input-group">

            <span class="input-group-addon">
              <input type="checkbox" id="championBox" aria-label="Champion Input" checked>
              <label for="championBox"></label>
            </span>

            <input type="number" id="championInput" class="form-control text-center" min="3" max="600" placeholder="600" required>

            <div class="input-group-addon">CP</div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>

    <div class="form-group">
      <label for="biography">Biography</label>
      <textarea class="form-control" id="biography" rows="3" maxlength="500"></textarea>
    </div>

    <div class="form-group">
      <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-4">
          <label for="alliance">Alliance</label>
          <select class="form-control text-center" id="alliance">
            <option>Aldmeri Dominion</option>
            <option>Daggerfall Covenant</option>
            <option>Ebonheart Pact</option>
          </select>
        </div>

        <div class="col-md-4"></div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-4">

        <div class="form-group">
          <label>Class</label>
            <div class="row">
              <div class="col-md-12">
                <div class="form-check form-check-inline">
              
                  <input type="radio" id="dragonknight" class="roster" name="class" value="dragonknight">
                  <label for="dragonknight"></label>
                  
                  <input type="radio" id="nightblade" class="roster" name="class" value="nightblade">
                  <label for="nightblade"></label>
                  
                  <input type="radio" id="sorcerer" class="roster" name="class" value="sorcerer">
                  <label for="sorcerer"></label>
                  
                  <input type="radio" id="templar" class="roster" name="class" value="templar">
                  <label for="templar"></label>
                  
                </div>
              </div>
            </div>

        </div>

      </div>
      <div class="col-md-4">

        <div class="form-group">
          <label>Race</label>
          <div class="row">
            
            <div class="col-md-12">
              <div class="form-check form-check-inline">
                
                <input type="radio" id="altmer" class="roster" name="race" value="altmer">
                <label for="altmer"></label>
                
                <input type="radio" id="breton" class="roster" name="race" value="breton">
                <label for="breton"></label>
                
                <input type="radio" id="dunmer" class="roster" name="race" value="dunmer">
                <label for="dunmer"></label>
                
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-check form-check-inline">

                <input type="radio" id="bosmer" class="roster" name="race" value="bosmer">
                <label for="bosmer"></label>
                
                <input type="radio" id="redguard" class="roster" name="race" value="redguard">
                <label for="redguard"></label>
                
                <input type="radio" id="nord" class="roster" name="race" value="nord">
                <label for="nord"></label>
                
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-check form-check-inline">

                <input type="radio" id="khajiit" class="roster" name="race" value="khajiit">
                <label for="khajiit"></label>
                
                <input type="radio" id="orsimer" class="roster" name="race" value="orsimer">
                <label for="orsimer"></label>
                
                <input type="radio" id="argonian" class="roster" name="race" value="argonian">
                <label for="argonian"></label>
                
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-check form-check-inline">
                
                <input type="radio" id="imperial" class="roster" name="race" value="Altmer">
                <label for="imperial"></label>
                
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        
        <div class="form-group">
          <label>Roles</label>
          <div class="row">
            
            <div class="col-md-12">
              <div class="form-check form-check-inline">
                
                <input type="checkbox" id="dps" class="roster" name="roles" value="dps">
                <label for="dps"></label>
                
                <input type="checkbox" id="tank" class="roster" name="roles" value="tank">
                <label for="tank"></label>
                
                <input type="checkbox" id="heal" class="roster" name="roles" value="heal">
                <label for="heal"></label>
                
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <img id="avatar" class="img-responsive center-block" src="https://i.grogsile.me/esoi/img/new/default_char.png" />
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

    <div class="form-group">
      <input type="file" id="newAvatar" class="hidden-input-file">

      <label for="newAvatar">
        <div class="btn btn-lg btn-success">
          Upload a new Avatar
        </div>
      </label>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

  </form>

</div>