<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include("../partials/defaultHead") %>

  </head>

  <body>

    <%- include("../partials/defaultNavbar") %>
    <%- include("../partials/home/content") %>
    <%- include("../partials/defaultFooter") %>
    
  </body>
</html>
