<div class="container">
  <p class="float-right">
    <a href="#">Back to top</a>
  </p>
  <p class="lead">Also, <a href="/invite">invite</a> <b>The Tamriel Messenger</b> to your server!</p>
  <p>Brought to you by &copy;Grogsile Inc. &copy;Bootstrap</p>
</div>