<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">Welcome Home, <%- user.username %></h4>
        <p class="text-muted">This is your dashboard.</p>
      </div>
      <div class="col-sm-2 py-4">
        <h4 class="text-white">Links</h4>
        <ul class="list-unstyled">
          <li><a href="/discord" class="text-white">Discord Server</a></li>
          <li><a href="/invite" class="text-white">Invite Bot</a></li>
          <li><a href="/docs" class="text-white">Documentation</a></li>
          <li><a href="/partners" class="text-white">Partners</a></li>
        </ul>
      </div>
      <div class="col-sm-2 py-4">
        <ul class="list-unstyled">
          <li><a href="/u/<%- user.id %>" class="text-white">Publick Profile</a></li>
          <li><a href="/settings" class="text-white">Settings</a></li>
          <li><a href="/logout" class="text-white">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="/dashboard" class="navbar-brand"><%- user.username %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>