<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">

      <a href="/"><h3 class="masthead-brand">Grogsile, Inc.</h3></a>

      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/guilds">Overview</a>
        <a class="nav-link" href="/logout">Sign Out</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    
    <% for (let guild of user.guilds) { %>
      <a href="/guilds/<%- guild.id %>"><img class="rounded-circle" src="https://cdn.discordapp.com/icons/<%- guild.id %>/<%- guild.icon %>" data-toggle="tooltip" data-placement="top" title="<%- guild.name %>" /></a>
    <% } %>

  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner text-center">
      <p class="lead">&copy; Grogsile Inc. BETA</p>
    </div>
  </footer>
</div>
