<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <a href="#"><img class="masthead-brand" src="https://i.grogsile.me/esoi/img/cover/brand.png" /></a>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="/discord" target="_blank">Discord</a>
            <a class="nav-link" href="/login">Sign In</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <div class="cover-img"></div>
        <p class="lead">
          <a href="/login" class="btn btn-lg btn-success">Sign In</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Provided to you by &copy;Grogsile Inc. &copy;Bootstrap</p>
        </div>
      </div>

    </div>

  </div>

</div>